/* $color-gray-001: #F7F7F8;
$color-gray-002: #E6E9EE;
$color-gray-003: #B1B7C1;
$color-gray-004: #5F656F;
$color-gray-005-selected: #3C4649;
$color-gray-005: #2C3335;
$color-gray-005-selected-darker: #222829;
$color-gray-006: #191D1F;

$color-astar-blue: #191D1F;
$color-primary: #0085FF;
$color-secondary: #05B6FD;
$color-warning: #FF5621;
$color-connected: #56F566;

$red: red;
$yellow: yellow;
$blue: blue;
$green: green; */
